<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8"/>
    <title>Cart</title>
</head>
<body>

<div ng-controller="CartController">
    <h1>Your Order</h1>


    <div ng-repeat="item in items">
        <span>{{item.title}}</span>
        <input ng-model="item.quantity"/>
        <span>{{item.price | currency}}</span>
        <span>{{item.price * item.quantity | currency}}</span>
        <span ng-click="remove($index)">x</span>
    </div>
</div>


<div ng-controller="selectController">
    <select ng-model="mycity" ng-options="city.name as city.name group by city.group for city in Cities"></select>
</div>


<script src="../libraries/angular.min.js"></script>
<script>
    var myApp = angular.module('myApp', []);
    myApp.controller('CartController', function ($scope) {
        $scope.items = [
            {title: 'Pots', quantity: 8, price: 3.95},
            {title: 'Dots', quantity: 17, price: 12.95},
            {title: 'Pebbels', quantity: 5, price: 6.95}
        ];
        $scope.remove = function (index) {
            $scope.items.splice(index, 1);
        };
    });
    myApp.controller('selectController', function ($scope) {
        $scope.mycity = '北京';
        $scope.Cities = [
            {id: 1, name: '北京', group: '中国'},
            {id: 2, name: '上海', group: '中国'},
            {id: 3, name: '广州', group: '中国'},
            {id: 4, name: '华盛顿', group: '美国'},
            {id: 5, name: '纽约', group: '美国'},
            {id: 6, name: '硅谷', group: '美国'}
        ];
    });
</script>
</body>
</html>