<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8"/>
    <title>Cart</title>
    <link rel="stylesheet" href="styles/commonStyle.css"/>
    <style>


    </style>
</head>
<body>

<div class="listPanel" ng-controller="listPanelController as panelCtrl ">
    <h2 class="heading">Feature List</h2>
    <div class="trigger" ng-click="isHide = !isHide">+</div>
    <div id="List" ng-class="{true:'hidePanel',false:'panelContent'}[isHide]">      
        <input type="text"/>
        <li ng-repeat="x in featureList">{{x.name}}</li>
    </div>

</div>



<div class="container tagInput" ng-controller="CartController">
    <h2>Your Order</h2>
    <div>
        <h2>Input new item</h2>
        <label>Item name</label>
        <input type="text" ng-model="newItem.title"/>
        <label>Item Price</label>
        <input type="number" ng-model="newItem.price"/>
        <button ng-click="insertItem()">Add</button>
    </div>
    <div ng-repeat="item in items">
        <span ng-bind="item.title"></span>
        <input ng-model="item.quantity"/>

        <div  class="tagator_tag">
            <span ng-bind="item.price | currency"></span>
            <span ng-bind="item.price * item.quantity | currency" ></span>
            <div class="tagator_tag_remove" ng-click="removeItem($index)">×</div>
            <!--<span class="icon-close" ng-click="removeItem($index)">x</span>-->
        </div>
    </div>
</div>

<div class="container starRate" ng-controller="rateController">
    <h2>Rating</h2>
    <div id="rating">
        <a class="{{IsVisited[1]}}" ng-click="changeVisited(1)" href="#"></a>
        <div>
            <a class="{{IsVisited[2]}}" ng-click="changeVisited(2)" href="#"></a>
            <div>
                <a class="{{IsVisited[3]}}" ng-click="changeVisited(3)" href="#"></a>
                <div>
                    <a class="{{IsVisited[4]}}" ng-click="changeVisited(4)" href="#"></a>
                    <div>
                        <a class="{{IsVisited[5]}}" ng-click="changeVisited(5)" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container" ng-controller="selectController">
    <h2>Selection grouping</h2>
    <select ng-model="mycity" ng-options="city.name as city.name group by city.group for city in Cities"></select>
</div>

<div class="container fileInput">
    <h2>File selecting</h2>
    <div class="form-group" >
        <p><input type="text" id="txt" name="txt" /></p>
        <p class="btn"><input id="ii" type="button" value="选择文件" /></p>
        <p class="btn"><input type="file" onchange="txt.value=this.value" class="file" />
        </p>
    </div>
</div>

<div class="container countDown" ng-controller="countController">
    <h2>Count Down</h2>
    <div>
        <label for="">End Time</label>
        <!--<input type="date" ng-model="endTime"/>-->
        <button ng-click ="startCount()">start</button>
    </div>
    <div ng-repeat="i in timearr" class="timetag" ><span ng-class="{true:'lastdaytag',false:''}[i.isLastDay]" ng-bind="i.gap"></span></div>
</div>



<div class="container" ng-controller="MyController">
    <h5>{{ clock }}</h5>
</div>


<script src="../libraries/angular.min.js"></script>
<script>
    var myApp = angular.module('myApp', []);
    myApp.controller('listPanelController',function($scope){
        $scope.isHide = false;
        $scope.featureList = [
            {
                name:'test feaure 1'

            }
        ]

    });
    myApp.controller('CartController', function ($scope) {
        $scope.newItem={
            title:'',
            quantity: 0,
            price: 0
        };
        $scope.items = [
            {title: 'Pots', quantity: 8, price: 3.95},
            {title: 'Dots', quantity: 17, price: 12.95},
            {title: 'Pebbels', quantity: 5, price: 6.95}
        ];
        $scope.insertItem = function(){
            $scope.items.splice(0,0,$scope.newItem);
        }
        $scope.removeItem = function (index) {
            $scope.items.splice(index, 1);
        };
    });
    myApp.controller('selectController', function ($scope) {
        $scope.mycity = '北京';
        $scope.Cities = [
            {id: 1, name: '北京', group: '中国'},
            {id: 2, name: '上海', group: '中国'},
            {id: 3, name: '广州', group: '中国'},
            {id: 4, name: '华盛顿', group: '美国'},
            {id: 5, name: '纽约', group: '美国'},
            {id: 6, name: '硅谷', group: '美国'}
        ];
    });
    myApp.controller('rateController', function($scope){
        $scope.IsVisited=[5];
        $scope.changeVisited =function(index){
            for (var i in $scope.IsVisited) {$scope.IsVisited[i] = ''}
            $scope.IsVisited[index] = 'visited';
        }
    })

    myApp.controller('countController',function($scope){
        $scope.timearr = [
            {"time":"2015-11-18 20:30:20"},
            {"time":"2015-12-22"},
            {"time":"2016-01-22"},
            {"time":"2015-11-22"},
            {"time":"2016-11-19"},
            {"time":"2016-03-22"},
            {"time":"2015-11-18"},
            {"time":"2016-01-12"},
            {"time":"2015-11-30"}
        ]
        var getDay = function(mmt){
            return Math.floor(mmt/1000/60/60/24);
        }
        var getHour = function(mmt){
            return Math.floor(mmt/1000/60/60%24);
        }
        var getMin = function(mmt){
            return Math.floor(mmt/1000/60 %60);
        }
        var getSec = function(mmt){
            return Math.floor(mmt/1000 %60);
        }
        var checkTime = function(i)
        {
            if (i<10)
            {i="0" + i}
            return i
        }
        var getGapTime = function(mmt){
            if (mmt<0) return "DUE";
            var d = getDay(mmt);
            var h = getHour(mmt);
            var m = checkTime(getMin(mmt));
            var s = checkTime(getSec(mmt));
            var show = ""
            if (d!=0){
                h = checkTime(h)
                return d+" days ";
//                        +h+" hours";
            }
            return h+":"+m+":"+s;

        }

        $scope.startCount = function() {
            var p = setInterval(function () {

                var currentT = new Date();
                for (var i in $scope.timearr){
                    var endT = new Date($scope.timearr[i].time);
                    var t = endT.getTime() - currentT.getTime();
                    if (t<=86400000) $scope.timearr[i].isLastDay = true;
                    $scope.$apply(function () {
                        $scope.timearr[i].gap = getGapTime(t);
                    });
                }

            }, 1000);
        }



//        $scope.startCount = function(){
//            var p = setInterval(setCount(),1000);
//        }
//        var setCount = function () {
//
//            var currentT = new Date();
//            var endT = new Date($scope.endTime);
//            var t = endT.getTime() - currentT.getTime();
//            console.log('gapmmS:', t);
//            $scope.$apply(function(){$scope.gap = getGapTime(t);});
//
//        };

    })
    myApp.controller('MyController', function($scope) {
        $scope.person = { name: "Ari Lerner" };
        var updateClock = function() {
            $scope.clock = new Date();
        };
        var timer = setInterval(function() {
            $scope.$apply(updateClock);
        }, 1000);
        updateClock();
    });


</script>
</body>
</html>